<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Движики</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/icons/icon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="hamburger" id="hamburger">
        <div class="frame_block">
            <div class="frame">
            <h1>Движок</h1>
            <button onclick="closes()" class="menu">Закрыть<img class="button_icon" src="{{ url_for('static', filename='/icons/menu_elipses.svg') }}" alt=""></button>
        </div>
        <a href="/" class="way">Главная<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
        <a href="/top" class="way">Топ команд<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt=""></a>
        <a href="/pok" class="way">Движики<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt=""></a>
        </div>
    </div>
    <div class="screen_one">
        <div class="header">
            <div class="header_logo_block">
                <p class="hi">Движики!</p>
                <img src="/static/img/talisman.png" alt="talisman" class="logo poko_logo">
            </div>
            <div class="button_block">
                <a href="/" class="way not_need">Главная<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <a href="/top" class="way not_need_two">Топ команд<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <button onclick="opens()" class="menu">Меню<img class="button_icon rotate" src="{{ url_for('static', filename='/icons/menu_elipses.svg') }}" alt="стрелка"></button>
                <a href="/pok" class="way not_need">Движики<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <img src="{{ url_for('static', filename='/icons/logo.png') }}" alt="logo" class="logo">
            </div>
        </div>
        <!-- Начало -->
        <div class="row">
            <div class="block white_block">
                <div class="about_pokemon">
                    <h1>Макималятор</h1>
                    <p>Выполнить 1, 2 и 3 задания</p>
                </div>
                <div class="pokemon_card">
                    <div class="skill bk_red">
                        <h3>Навык</h3>
                        <p class="white_text">Даёт бонус, +20% ко всем новым очкам</p>
                    </div>
                    <img class="pokemon" src="{{ url_for('static', filename='/img/makimalator_red.png') }}" alt="">
                </div>
            </div>
            <div class="block white_block">
                <div class="about_pokemon">
                    <h1>Рефлексис</h1>
                    <p>Выполнить 4, 5 и 6 задания</p>
                </div>
                <div class="pokemon_card">
                    <div class="skill bk_blue">
                        <h3>Навык</h3>
                        <p class="white_text">В конце игры дает +25% ко всем очкам команды</p>
                    </div>
                    <img class="pokemon" src="{{ url_for('static', filename='/img/makimalator_blue.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Конец -->
    <div class="footer marg">
        <div class="left_block">
            <div class="block bk_white">
                <a href="https://vk.com/mypervie31?from=search" target="_blank">
                    <h1>При поддержке<br><span class="red_text">Движения первых</span></h1>
                </a>
            </div>
            <div class="block bk_white disp_off">
                <h1>Разработчики</h1>
                <a target="_blank" href="https://mars-lucifer.ru" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/luci.png') }}" alt="luci_ava">
                    <div class="about_person">
                        <p class="name"><b>Luci</b></p>
                        <p class="job">Дизайнер</p>
                    </div>
                </a>
                <a target="_blank" href="https://t.me/KlaudyStorage" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/klaudy.png') }}" alt="klaudy_ava">
                    <div class="about_person">
                        <p class="name"><b>Klaudy</b></p>
                        <p class="job">Художник</p>
                    </div>
                </a>
                <a target="_blank" href="https://t.me/Anaraket" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/anaraket.png') }}" alt="artem_ava">
                    <div class="about_person">
                        <p class="name"><b>Артем</b></p>
                        <p class="job">Frontend</p>
                    </div>
                </a>
            </div>
            <div class="block bk_white">
                <a href="https://irminsul.space/" target="_blank">
                    <h1>Сайт инициирован<br><span class="green_text">Ирминсулем</span></h1>
                </a>
            </div>
        </div>
        <div class="block developer bk_white">
            <h1>Разработчики</h1>
            <a target="_blank" href="https://mars-lucifer.ru" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/luci.png') }}" alt="luci_ava">
                <div class="about_person">
                    <p class="name"><b>Luci</b></p>
                    <p class="job">Дизайнер</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/KlaudyStorage" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/klaudy.png') }}" alt="klaudy_ava">
                <div class="about_person">
                    <p class="name"><b>Klaudy</b></p>
                    <p class="job">Художник</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/Anaraket" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/anaraket.png') }}" alt="artem_ava">
                <div class="about_person">
                    <p class="name"><b>Artem</b></p>
                    <p class="job">Frontend</p>
                </div>
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/main.js') }}"></script>
</body>
</html>
