<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Команда {{ team['team_name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/icons/icon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="hamburger" id="hamburger">
        <div class="frame_block">
            <div class="frame">
            <h1>Движок</h1>
            <button onclick="closes()" class="menu">Закрыть<img class="button_icon" src="{{ url_for('static', filename='/icons/menu_elipses.svg') }}" alt=""></button>
        </div>
        <a href="/" class="way">Главная<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
        <a href="/top" class="way">Топ команд<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt=""></a>
        <a href="/pok" class="way">Покемоны<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt=""></a>
        </div>
    </div>
    <div class="screen_one">
        <div class="header">
            <p class="hi">Команда</p>
            <div class="button_block">
                <a href="/" class="way not_need">Главная<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <a href="/top" class="way not_need_two">Топ команд<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <button onclick="opens()" class="menu">Меню<img class="button_icon rotate" src="{{ url_for('static', filename='/icons/menu_elipses.svg') }}" alt="стрелка"></button>
                <a href="/pok" class="way not_need">Покемоны<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <img src="{{ url_for('static', filename='/icons/logo.png') }}" alt="logo" class="logo">
            </div>
        </div>
        <!-- Начало -->
        <div class="row">
            <div class="block bk_white">
                <h3 class="gray">{{ team['competency'] }}</h3>
                <h1>{{ team['team_name'] }}</h1>
                <div class="exp">
                    <h3>Очки: {{ team['points'] }}</h3>
                    
                    {% for task in team['tasks'] %}
                    <div class="task_container {% if task[0] == 1 %}done{% else %}not_done{% endif %}">
                        <div class="circle"></div>
                        <p class="{% if task[0] == 1 %}white_text{% endif %}">{{ task[1] }}</p>
                    </div>
                    {% endfor %}
                </div>                
            </div>
            <div class="block white_block column">
                <h1>Участники</h1>
                <div class="members_block">
                    <div class="members_row">
                        {% for member in team['members'] %}
                            {% if loop.index <= 2 %}
                                <div class="member">
                                    <img src="{{ url_for('static', filename=member['avatar_path'][7:]) }}" alt="ava">
                                    <p>{{ member['name'] }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="members_row">
                        {% for member in team['members'] %}
                            {% if loop.index > 2 %}
                                <div class="member">
                                    <img src="{{ url_for('static', filename=member['avatar_path'][7:]) }}" alt="ava">
                                    <p>{{ member['name'] }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block white_block order2 column">
                <h1>Покемоны</h1>
            
                <!-- Покемон 1 -->
                <div class="pokemon_team" style="display: {% if pokemons[0] == 1 %}block{% else %}none{% endif %};">
                    <div class="about_pokemon">
                        <h1 class="white_text">Макималятор</h1>
                        <p class="white_text">Дает +20% к новым очкам команды</p>
                    </div>
                    <div class="pokemon_img">
                        <img src="{{ url_for('static', filename='/img/makimalator.png') }}" alt="Макималятор">
                    </div>
                </div>
            
                <!-- Покемон 2 -->
                <div class="pokemon_team blue_pok" style="display: {% if pokemons[1] == 1 %}block{% else %}none{% endif %};">
                    <div class="about_pokemon">
                        <h1 class="white_text">Рефлексис</h1>
                        <p class="white_text">Дает +25% ко всем очкам команды, в конце игры</p>
                    </div>
                    <div class="pokemon_img">
                        <img src="{{ url_for('static', filename='/img/reflexis.png') }}" alt="Макималятор 2">
                    </div>
                </div>            
            </div>
            <div class="block white_block invisible"></div>
        </div>
    </div>

    <!-- Конец -->
    <div class="footer marg">
        <div class="left_block">
            <div class="block bk_white">
                <a href="https://vk.com/mypervie31?from=search" target="_blank">
                    <h1>При поддержке<br><span class="red_text">Движения первых</span></h1>
                </a>
            </div>
            <div class="block bk_white disp_off">
                <h1>Разработчики</h1>
                <a target="_blank" href="https://mars-lucifer.ru" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/luci.png') }}" alt="luci_ava">
                    <div class="about_person">
                        <p class="name"><b>Luci</b></p>
                        <p class="job">Дизайнер</p>
                    </div>
                </a>
                <a target="_blank" href="https://t.me/Klaudy_31" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/klaudy.png') }}" alt="klaudy_ava">
                    <div class="about_person">
                        <p class="name"><b>Klaudy</b></p>
                        <p class="job">Художник</p>
                    </div>
                </a>
                <a target="_blank" href="https://t.me/Anaraket" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/anaraket.png') }}" alt="artem_ava">
                    <div class="about_person">
                        <p class="name"><b>Артем</b></p>
                        <p class="job">Frontend</p>
                    </div>
                </a>
            </div>
            <div class="block bk_white">
                <a href="https://irminsul.space/" target="_blank">
                    <h1>Сайт инициирован<br><span class="green_text">Ирминсулем</span></h1>
                </a>
            </div>
        </div>
        <div class="block developer bk_white">
            <h1>Разработчики</h1>
            <a target="_blank" href="https://mars-lucifer.ru" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/luci.png') }}" alt="luci_ava">
                <div class="about_person">
                    <p class="name"><b>Luci</b></p>
                    <p class="job">Дизайнер</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/Klaudy_31" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/klaudy.png') }}" alt="klaudy_ava">
                <div class="about_person">
                    <p class="name"><b>Klaudy</b></p>
                    <p class="job">Художник</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/Anaraket" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/anaraket.png') }}" alt="artem_ava">
                <div class="about_person">
                    <p class="name"><b>Artem</b></p>
                    <p class="job">Frontend</p>
                </div>
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/main.js') }}"></script>
</body>
</html>
