<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Топ команд</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/icons/icon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="hamburger" id="hamburger">
        <div class="frame_block">
            <div class="frame">
            <h1>Движок</h1>
            <button onclick="closes()" class="menu">Закрыть<img class="button_icon" src="{{ url_for('static', filename='/icons/menu_elipses.svg') }}" alt=""></button>
        </div>
        <a href="/" class="way">Главная<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
        <a href="/top" class="way">Топ команд<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt=""></a>
        <a href="/pok" class="way">Покемоны<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt=""></a>
        </div>
    </div>
    <div class="screen_one">
        <div class="header">
            <p class="hi">Здесь показаны все лучшие команды</p>
            <div class="button_block">
                <a href="/" class="way not_need">Главная<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <a href="/top" class="way not_need_two">Топ команд<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <button onclick="opens()" class="menu">Меню<img class="button_icon rotate" src="{{ url_for('static', filename='/icons/menu_elipses.svg') }}" alt="стрелка"></button>
                <a href="/pok" class="way not_need">Покемоны<img class="arrow_red" src="{{ url_for('static', filename='/icons/arrow_outward_red.svg') }}" alt="стрелка"></a>
                <img src="{{ url_for('static', filename='/icons/logo.png') }}" alt="logo" class="logo">
            </div>
        </div>
        <!-- Начало -->

        <form method="GET" action="/top" class="search-form">
            <input class="search" type="text" name="search" placeholder="Поиск команды" value="{{ request.args.get('search', '') }}">
        </form>
        

        {% for i in range(0, teams|length, 2) %}
            <div class="row">
                <!-- Первая команда в строке -->
                <button onclick="location.href = `/command/{{ teams[i]['id'] }}`" class="block string">
                    <div class="main">
                        <div class="box-20 box-top">
                            <h1>{{ teams[i]['team_name'] }}</h1>
                            <a class="points"><span class="red_text">{{ teams[i]['points'] }}</span> очков</a>
                        </div>
                        <div class="box-20">
                            <p class="nowrap"><span class="red_text">{{ teams[i]['tasks'] | selectattr("0", "equalto", 1) | list | length }}</span> заданий</p>
                            <div class="box_task">
                                {% for task in teams[i]['tasks'] %}
                                    {% if task[0] == 1 %}  {# Красный кружок #}
                                        <div class="box_task_point box_task_point__red"></div>
                                        {% if not loop.last %}  {# Проверяем, не последний ли элемент #}
                                            <div class="box_task_line box_task_line__red"></div>
                                        {% endif %}
                                    {% else %}  {# Серый кружок #}
                                        <div class="box_task_point box_task_point__gray"></div>
                                        {% if not loop.last %}  {# Проверяем, не последний ли элемент #}
                                            <div class="box_task_line box_task_line__gray"></div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="box-20 box-bottom">
                        <div class="pokemon_circe_box">
                            {% if teams[i]['pokemons'][0] == 1 %}  {# Проверяем, есть ли первый покемон #}
                                <div class="pokemon_circle">
                                    <img src="{{ url_for('static', filename='/img/makimalator_top.png') }}" alt="makimalator">
                                </div>
                            {% endif %}
                    
                            {% if teams[i]['pokemons'][1] == 1 %}  {# Проверяем, есть ли второй покемон #}
                                <div class="pokemon_circle blue_circle">
                                    <img src="{{ url_for('static', filename='/img/reflexis_top.png') }}" alt="reflexis">
                                </div>
                            {% endif %}
                        </div>
                    
                        {# Получаем количество покемонов #}
                        {% set pokemon_count = teams[i]['pokemons'] | select("equalto", 1) | list | length | int %}
                    
                        {# Выводим текст с правильным склонением слова "покемон" #}
                        <p class="black nowrap"><span class="red_text">{{ pokemon_count }}</span> 
                        {% if pokemon_count == 1 %}
                            покемон
                        {% elif pokemon_count == 2 %}
                            покемона
                        {% else %}
                            покемонов
                        {% endif %}
                        </p>
                    </div>                    
                </button>

                <!-- Вторая команда в строке, если существует -->
                {% if i + 1 < teams|length %}
                <button onclick="location.href = `/command/{{ teams[i + 1]['id'] }}`" class="block string">
                    <div class="main">
                        <div class="box-20 box-top">
                            <h1>{{ teams[i + 1]['team_name'] }}</h1>
                            <a class="points"><span class="red_text">{{ teams[i + 1]['points'] }}</span> очков</a>
                        </div>
                        <div class="box-20">
                            <p class="nowrap"><span class="red_text">{{ teams[i + 1]['tasks'] | selectattr("0", "equalto", 1) | list | length }}</span> заданий</p>
                            <div class="box_task">
                                {% for task in teams[i + 1]['tasks'] %}
                                    {% if task[0] == 1 %}  {# Красный кружок #}
                                        <div class="box_task_point box_task_point__red"></div>
                                        {% if not loop.last %}  {# Проверяем, не последний ли элемент #}
                                            <div class="box_task_line box_task_line__red"></div>
                                        {% endif %}
                                    {% else %}  {# Серый кружок #}
                                        <div class="box_task_point box_task_point__gray"></div>
                                        {% if not loop.last %}  {# Проверяем, не последний ли элемент #}
                                            <div class="box_task_line box_task_line__gray"></div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="box-20 box-bottom">
                        <div class="pokemon_circe_box">
                            {% if teams[i + 1]['pokemons'][0] == 1 %}  {# Проверяем, есть ли первый покемон #}
                                <div class="pokemon_circle">
                                    <img src="{{ url_for('static', filename='/img/makimalator_top.png') }}" alt="makimalator">
                                </div>
                            {% endif %}
                    
                            {% if teams[i + 1]['pokemons'][1] == 1 %}  {# Проверяем, есть ли второй покемон #}
                                <div class="pokemon_circle blue_circle">
                                    <img src="{{ url_for('static', filename='/img/reflexis_top.png') }}" alt="reflexis">
                                </div>
                            {% endif %}
                        </div>
                    
                        {# Получаем количество покемонов и приводим его к целому числу #}
                        {% set pokemon_count = teams[i + 1]['pokemons'] | select("equalto", 1) | list | length | int %}
                    
                        {# Выводим текст с правильным склонением слова "покемон" #}
                        <p class="black nowrap"><span class="red_text">{{ pokemon_count }}</span> 
                        {% if pokemon_count == 1 %}
                            покемон
                        {% elif pokemon_count > 1 and pokemon_count < 5 %}
                            покемона
                        {% else %}
                            покемонов
                        {% endif %}
                        </p>
                    </div>
                    
                </button>
                {% else %}
                <!-- Если второй команды нет, добавляем пустой блок -->
                <div class="block white_block invisible"></div>
                {% endif %}
            </div>
        {% endfor %}

        {% if not teams %}
            <p>Команды не найдены.</p>
        {% endif %}
    </div>

    <!-- Конец -->
    <div class="footer marg">
        <div class="left_block">
            <div class="block bk_white">
                <a href="https://vk.com/mypervie31?from=search">
                    <h1>При поддержке<br><span class="red_text">Движения первых</span></h1>
                </a>
            </div>
            <div class="block bk_white disp_off">
                <h1>Разработчики</h1>
                <a target="_blank" href="https://mars-lucifer.ru" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/luci.png') }}" alt="luci_ava">
                    <div class="about_person">
                        <p class="name"><b>Luci</b></p>
                        <p class="job">Дизайнер</p>
                    </div>
                </a>
                <a target="_blank" href="https://t.me/Klaudy_31" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/klaudy.png') }}" alt="klaudy_ava">
                    <div class="about_person">
                        <p class="name"><b>Klaudy</b></p>
                        <p class="job">Художник</p>
                    </div>
                </a>
                <a target="_blank" href="https://t.me/Anaraket" class="person">
                    <img class="avatar" src="{{ url_for('static', filename='/img/anaraket.png') }}" alt="artem_ava">
                    <div class="about_person">
                        <p class="name"><b>Артем</b></p>
                        <p class="job">Frontend</p>
                    </div>
                </a>
            </div>
            <div class="block bk_white">
                <a href="https://irminsul.space/">
                    <h1>Сайт инициирован<br><span class="green_text">Ирминсулем</span></h1>
                </a>
            </div>
        </div>
        <div class="block developer bk_white">
            <h1>Разработчики</h1>
            <a target="_blank" href="https://mars-lucifer.ru" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/luci.png') }}" alt="luci_ava">
                <div class="about_person">
                    <p class="name"><b>Luci</b></p>
                    <p class="job">Дизайнер</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/Klaudy_31" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/klaudy.png') }}" alt="klaudy_ava">
                <div class="about_person">
                    <p class="name"><b>Klaudy</b></p>
                    <p class="job">Художник</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/Anaraket" class="person">
                <img class="avatar" src="{{ url_for('static', filename='/img/anaraket.png') }}" alt="artem_ava">
                <div class="about_person">
                    <p class="name"><b>Artem</b></p>
                    <p class="job">Frontend</p>
                </div>
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/main.js') }}"></script>
</body>
</html>
